/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 12 80% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 41.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 38%;
    --muted-foreground: 240 4.8% 61%;
    --accent: 12 80% 90%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 85.9%;
    --input: 240 5.9% 85.9%;
    --ring: 240 5.9% 85.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 240 5% 96.1%;
    --card: 240 10% 3.9%;
    --card-foreground: 240 5% 96.1%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 240 5% 96.1%;
    --primary: 12 80% 50%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 4.8% 41.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 41.9%;
    --muted-foreground: 240 5.9% 64.9%;
    --accent: 240 5.9% 29%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 41.9%;
    --input: 240 5.9% 41.9%;
    --ring: 240 5.9% 85.9%;
  }
}

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    color: hsl(var(--foreground));
    background: hsl(var(--background));
  }
}
